// 변수 정의
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$bacgkground: #1e293b;
$bacgkgroundLight: #2d3f5c;
$activeBg: #3c495f;
$white: #fff;
$border: #708090;
$primaryColor: #60a5fa;
$primaryColorDark: #4272ad;
$grayText: #9ca3af;
$activeBorder: #3b82f6;
$danger: #dc2626;
$dangerDark: #9f2424;
$gray: #6b7280;
$grayDark: #3b424f;

// 전체 레이아웃
body {
  font-family: $font;
}

* {
  background-color: $bacgkground;
  color: $white;

  a {
    background-color: inherit;
  }
}

.layout {
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.button {
  padding: 0.4rem 0.8rem;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}
.transparent {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky {
  width: 100%;
  max-width: 600px;
  position: sticky;
  top: 0;
  margin: 0 auto;
}
// footer
.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: $white;
  background-color: transparent;
  z-index: 10;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: transparent;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px;
      font-size: 15px;
      background-color: transparent;
      backdrop-filter: blur(10px);
      border: none;
      cursor: pointer;
    }
  }
}

// home 레이아웃
.home {
  &__top {
    @extend .transparent;
    @extend .sticky;
  }
  &__title {
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
  }

  &__tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: transparent;
  }
  &__tab {
    padding: 16px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4 ease-in-out;
    background-color: transparent;

    &--active {
      border-bottom: 2px solid $activeBorder;
      font-weight: 700;
    }

    &:hover,
    &:focus {
      background-color: $activeBg;
    }
  }

  &__search-div {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  &__search {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: $font;
    flex: 16;
    font-weight: 600;
    border: none;
    background-color: $bacgkgroundLight;
    border-radius: 20px;
    outline: none;

    &:focus {
      border: 1px solid $primaryColor;
      background-color: $activeBg;
    }
  }
}

.post-form {
  &__textarea {
    width: 100%;
    min-height: 120px;
    padding: 16px;
    font-size: 18px;
    font-family: $font;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $border;
    resize: none;
    outline: none;

    &::placeholder {
      font-size: 18px;
      color: $grayText;
    }
  }

  &__hashtags {
    padding: 16px;
    border-bottom: 1px solid $border;
    &-outputs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px 1px;
    }
    &-tag {
      padding: 3px 8px;
      margin-right: 6px;
      font-size: 14px;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $activeBorder;
        border: 1px solid $activeBorder;
      }
    }
  }
  &__input {
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    font-family: $font;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  &__submit-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $border;

    .post-form__file {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  }

  &__image-area {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__attachment {
    display: flex;
    align-items: end;
    gap: 16px;
  }
  &__clear-btn {
    @extend .button;
    padding: 2px 12px;
    background-color: $danger;

    &:hover,
    &:focus {
      background-color: $dangerDark;
    }
  }
  &__submit-btn {
    @extend .button;
    padding: 0.5rem 1rem;
    background-color: $primaryColor;

    &:hover {
      background-color: $primaryColorDark;
    }
  }

  &__profile {
    padding: 16px;

    .post-form__input {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px 2px;
      border-bottom: 1px solid $gray;
      font-size: 16px;

      &:active,
      &:focus {
        border-bottom: 1px solid white;
      }
    }

    .post-form__attachment img {
      border-radius: 50%;
    }
  }
}

// post 레이아웃
.post {
  padding-bottom: 40px;

  &__header {
    button {
      padding: 16px;
      border: none;
    }

    &-btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  &__no-posts {
    padding: 20px;

    .post__text {
      padding: 16px;
      font-size: 14px;
      border: 1px solid $gray;
      border-radius: 4px;
      text-align: center;
    }
  }
  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__email,
  &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__box {
    padding: 10px 0;
    border-bottom: 1px solid $border;

    a {
      text-decoration: none;
    }

    &-profile {
      padding: 0 10px;
      text-decoration: none;

      &-img,
      &-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    &-content {
      display: block;
      padding: 16px 4px;
      font-weight: 500;
    }

    &-image-div {
      padding: 15px;
      text-align: center;
    }
    &-image {
      max-width: 80%;
      height: auto;
    }

    &-footer {
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;
      padding: 0 16px;
      margin-top: 10px;
      font-size: 14px;

      button {
        @extend .button;

        &.post__delete {
          background-color: $danger;

          &:hover,
          &:focus {
            background-color: $dangerDark;
          }
        }

        &.post__edit {
          background-color: $gray;

          &:hover,
          &:focus {
            background-color: $grayDark;
          }
        }

        &.post__likes,
        &.post__comments {
          @extend .post__flex;
          &:hover,
          &:focus {
            color: $gray;
          }
        }
      }
    }
  }
}

// form 레이아웃
.form {
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;

  input {
    width: 96%;
    height: 20px;
    max-width: 680px;
    padding: 10px;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
  }

  &__block {
    width: 100%;
    margin-top: 20px;
  }

  &__block--lg {
    width: 100%;
    margin-top: 28px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
  }

  &__btn--submit {
    @extend .button;
    width: 100%;
    height: 48px;
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: $primaryColor;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $activeBorder;
    }
  }

  &__title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  &__link {
    margin-left: 10px;
    color: $grayText;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray;
    }
  }

  &__error {
    color: $danger;
  }

  &__btn--google {
    @extend .form__btn--submit;
    color: $activeBorder;
    background-color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $activeBorder;
    }
  }

  &__btn--github {
    @extend .form__btn--submit;
    color: white;
    background-color: black;

    &:hover,
    &:focus {
      color: $white;
      background-color: $activeBg;
    }
  }
}

// 프로필 레이아웃
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 20px;
  margin-top: 2.5rem;

  &__box {
    display: flex;
    align-items: flex-end;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  &__flex {
    display: flex;
    gap: 8px;
  }

  &__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  &__btn {
    @extend .button;
    background-color: $primaryColor;

    &:hover,
    &:focus {
      background-color: $activeBorder;
    }

    &--language {
      @extend .button;
      background-color: $gray;

      &:hover,
      &:focus {
        background-color: $grayDark;
      }
    }
  }

  &__text {
    padding: 0 1rem;
    margin-top: 20px;
  }

  &__name {
    font-size: 16px;
    color: $white;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__email {
    font-size: 14px;
    color: $grayText;
  }
}
